<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuova Password</title>
  </head>
  <body>
    <h1 class="title" style="color: orange; font-size: 32px; font-weight: bold">
      Nuova Password!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>
        Gentile utente, poco fa hai confermato il cambio password!<br />
      </p>

      <p>
        Premi qui per procedere al cambio password!<br />
      </p>
      <a href="http://localhost:5010/api/change-password/{{idu}}?newPassword={{password}}">
        <input type="submit"
        value="Accetta"
          style="
            background-color: green;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: maxcontent;
            border-color: green;
          "
        >
        </button>
      </a>

      <p>Il nostro team ti saluta e ti augura un buono studio!</p>
    </div>
  </body>
</html>
