<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuove credenziali</title>
  </head>
  <body>
    <h1 class="title" style="color: orange; font-size: 32px; font-weight: bold">
      Nuove Credenziali!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>
        Gentile utente, poco fa hai confermato il cambio password e noi abbiamo
        generato le tue nuove credenziali!<br />
      </p>

      <ul>
        <li><b>Email: </b><i>{{email}}</i></li>
        <li><b>Password: </b><i>{{password}}</i></li>
      </ul>

      <p>
        Ti suggeriamo cortesemente di modificare ulteriormente le password dopo
        il tuo accesso, così da poter rendere il più sicuro possibile il tuo
        account.<br />
      </p>

      <p>Il nostro team ti saluta e ti augura un buono studio!</p>
    </div>
  </body>
</html>
