<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Dimenticata</title>
  </head>
  <body>
    <h1 class="title" style="color: orange; font-size: 32px; font-weight: bold">
      Password Dimenticata!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>
        Gentile utente, qualora avessi dimenticato la password premi il bottone
        conferma!<br />
      </p>

      <p>
        Qualora invece non fossi stato tu a richiedere il cambio password,
        assicurati che la tua password sia sicura:<br />
        <i>{{host}}</i>
      </p>

      <p>
        Se non sei tu che stai cercando di recuperare la tua password inviaci
        una mail all'indirizzo:<br />
        studentime@gmail.com
      </p>

      <!-- Bottone Invia -->
      <a href="https://study-storm.netlify.app/forgot-password/{{idResetPassword}}">
        <button
          style="
            background-color: green;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: maxcontent;
            border-color: green;
          "
        >
          Confermo!
        </button>
      </a>
    </div>
  </body>
</html>
