<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invito Condivisione</title>
</head>
<body>

    <h1>! Condivisione "{{goal}}"</h1>
    <p>Accetta o Rifiuta la condivisione da parte di {{user}}</p>
    <!-- Bottone Invia -->
    <a href="http://51.75.30.166:5010/api/invite-team?verification_key={{verification_key}}">
        <button
          style="
            background-color: green;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: maxcontent;
            border-color: green;
          "
        >
            Accetta
        </button>
    </a>
</body>
</html>