<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iscrizione Newsletter</title>
    </head>
    <body>
        <h1 class="title" style="color: orange; font-size: 32px; font-weight: bold">
        ! Iscrizione Newsletter
        </h1>
        <div
          class="paragraph"
          style="margin-top: 20px; margin-bottom: 20px; color: black"
        >
            <p>Benvenuto nella Newsletter di Study Storm</p>
        </div>
    </body>
</html>