<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifica account</title>
  </head>
  <body>
    <h1>Verifica account!</h1>
    <p>Verifica il tuo account per completare la tua registrazione</p>
    <!-- Bottone Invia -->
    <a href="http://51.75.30.166:5010/confirm-registration/{{verification_key}}">
      <button
        style="
          background-color: green;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          width: maxcontent;
          border-color: green;
        "
      >
        Verifica!
      </button>
    </a>
  </body>
</html>
