<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifica account</title>
  </head>
  <body>
    <h1 class="title" style="color: orange; font-size: 32px; font-weight: bold">
      Verifica account!
    </h1>
    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
    <p>Verifica il tuo account per completare la tua registrazione</p>
    <!-- Bottone Invia -->
      <a href="https://study-storm.netlify.app/confirm-registration/{{verification_key}}">
        <button
          style="
            background-color: green;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            width: maxcontent;
            border-color: green;
          "
        >
          Verifica!
        </button>
      </a>
    </div>
  </body>
</html>
